---
- name: Install libselinux-python
  yum: name=libselinux-python state=present

- name: Set up iptables rules
  copy: src=iptables-save dest=/etc/sysconfig/iptables
  when: ansible_distribution == 'CentOS' and ansible_distribution_major_version == '6'
  notify: restart iptables

- name: Set up firewalld
  firewalld: service={{ item }} permanent=true state=enabled
  with_items:
    - http
    - https
    - ssh
  when: ansible_distribution == 'CentOS' and ansible_distribution_major_version == '7'
  register: firewalld
  
- name: restart firewalld
  command: firewall-cmd --complete-reload
  when: firewalld.changed


